@charset "utf-8";
/* CSS Document */
body, html {
    background-image: url("pexels-miriam-fischer-2645245.jpg");
    background-size: cover; 
    height: 100%;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(182, 156, 7); 
  }

  header { 
    position: center;
    left:0;
    padding: 16px;
    letter-spacing: 10px;
    width: auto;
    font-size: 20px;
  }

  .title {
    font-size: 50px;
  }

  .topnav{
    overflow: hidden;
    width: auto;
    padding-left: 5px;
    padding-bottom: 30px;
  }

  .topnav a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    padding-right: 100px;
    padding-left: 120px;
    font-size: 25px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
 

  h1 {
    font-size: 100px;
    color: black;
  }


  .box {
    font-size: 10px;
    height: 10px;
    width: 50px;
  }

  p {
    font-size: 20px;
    margin-left: 10px;
  }

  .content {
    background-color: #eaeaea;
    color: #151313;
    width: auto;
    height: 500px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 300px;
    margin-right: 100px;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-style: italic;
    font-size: medium;
    border-style: solid;
    border-color: #D2A923;
}

.box{
    background-color: #eaeaea;
    color: #151313;
    width: auto;
    height: 900px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 300px;
    margin-right: 300px;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-style: italic;
    font-size: medium;
    border-style: solid;
    border-color: #D2A923;
}

.box2{
    background-color: #eaeaea;
    color: #151313;
    width: auto;
    height: 900px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0px;
    margin-left: 300px;
    margin-right: 300px;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-style: italic;
    font-size: medium;
    border-style: solid;
    border-color: #D2A923;
}

.imgcontainer {
    height:5px;
    text-align: center;
    
}

.imgavatar {
    width: 100%; 
    height: 100%; 
}

  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #D2A923;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 200px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 15px 18px;
    background-color: #f44336;
  }
  
 
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

  .uname,.psw {

    margin-left: 500px;
  }
  .submit, .remember {
    margin-left: 580px;
    margin-bottom:5px;
  }
 

